:root {
  --wof-white: 255, 255, 255;
  --wof-white1: 199, 199, 199;
  --wof-black: 0, 0, 0;
  --wof-black1: 22, 28, 25;
  --wof-black2: 59, 59, 59;
  --wof-black3: 26, 26, 26;
  --wof-black4: 14, 14, 14;
  --wof-black5: 15, 18, 22;
  --wof-green: 96, 168, 107;
  --wof-green1: 122, 194, 133;
  --wof-green2: 17, 28, 19;
  --wof-green3: 65, 136, 76;
  --wof-green4: 67, 82, 73;
  --wof-green5: 64, 143, 76;
  --wof-green6: 38, 51, 43;
  --wof-green7: 97, 165, 67;
  --wof-border-green: 88, 128, 105;
  --wof-dark-green: 28, 38, 32;
  --wof-silver: 194, 194, 194;
  --wof-silver1: 109, 109, 109;
  --wof-silver2: 86, 89, 99;
  --wof-yellow: 190, 122, 43;
  --wof-yellow1: 218, 161, 83;
  --wof-yellow2: 232, 172, 88;
  --wof-border-yellow: 255, 199, 120;
  --wof-orange: 253, 205, 135;
  --wof-orange1: 217, 163, 90;
  --wof-orange2: 217, 171, 72;
  --wof-blue: 56, 64, 82;
  --wof-blue1: 94, 105, 128;
  --wof-red: 146, 1, 37;
  --wof-gray: 36, 36, 36;
  --wof-gray1: 105, 105, 105;
  --wof-gray2: 48, 48, 48;
}
